* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid #777;*/
}

body {
  font-family: Helvetica, sans-serif;
  
}

h1 {
  font-weight: 100;
  text-align: center;
  padding: 2.3vmin;
  font-size: 4.8vmin;
}

.honor {
  font-size: 3.6vmin;
  margin: 1.8vmin;
  color: #aaa;
}


.hero {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.hero-image {
  width: 20%;
  flex: 1 1 auto;
  align-items: stretch;
}

.content {
  width: 100vw;
}

.section {
  width: 70%;
  margin: 10px auto;
}

h3 {
  font-size: 3vmin;
  font-weight: 100;
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
}